dialogflow-agent-assist/flow.json
[{
	"id": "b7186bc3.26d27",
	"type": "tab",
	"label": "voicebot example",
	"disabled": false,
	"info": ""
}, {
	"id": "7264e1f3.1b4e38",
	"type": "webhook out",
	"z": "b7186bc3.26d27",
	"name": "",
	"x": 830,
	"y": 60,
	"wires": []
}, {
	"id": "6813c91b.2a327",
	"type": "dialogflow",
	"z": "b7186bc3.26d27",
	"name": "",
	"recognizerlang": "en-US",
	"serviceAccountCredentials": "{\"type\":\"service_account\",\"project_id\":\"ai-in-rtc-drachtio-tljjpn\",\"private_key_id\":\"79980dfcab99f4615547b944422d2ea070bed22d\",\"private_key\":\"-----BEGIN PRIVATE KEY-----\\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCwmJZ/4LhA+kLS\\nfkC5SNNwJsbYGjqZw0x8eGiTnzSFGuQrKLuEDWQUuyEG2/y3YtKeCntFzE3FZrUM\\nTf1ZhvVSf14+shb+xRQQ7whB2lmGPbmwhsZW+hJhGbX1et1lQpnvjjiVtsD9V2B9\\npSMjh0+TvZMWcmJVSf7+DZizi2qJ7RIln6pw9rlbhsfdrEylq+VyfO77SJyHP/kE\\nS1VO62cdRXoU8HSTfMrOhpU11yV1iguhPz6MGVTH+wWZrSnWP7qRhpqM2RGfVhL2\\n3yUOlaLN45yhl6mAezS7ygOcPGrwSUMJXL0JXNK13TAs4PYlMu/AonGUYj93Iha4\\nh1hA04AzAgMBAAECggEAKdZ0rWYpcOd5hlH39o2c3jCpolAQexZMXB7Qs8yfjjtR\\nPDJhvobHo6uzxuK+bBoDCQM1slMVR8Ot9/TQJXI2U62uP89EaGZ7ewmOXL+kvwuH\\nnx1HBxsm2I9VTwulQRS20IzSthF+hma5ivrhKM0pWriqjMJbrpYhzcGd4EeS3YsC\\nTStbJwK9rHnfOPv07g8ajvuqgDn+Ejy9ThpRsddl5OvvdSFP5FSOJxmzJQFCx7Sq\\nKkTmkwB7Q0UuYjObEGKbQ8CvnufRSNAE7BtAPV+DdocunBY26EzyrFWxV6SaawoJ\\nLGW9wjN+mrRF7Opw3DxdwqY6LT7DJvqFt1CSBGc6nQKBgQDnGX5kQl3vPROkvx00\\nOgo5q7broW3lrNhUsHHmpcJ19w4Ue+RzbpV/9A+MOjQ6SKcGt8dSIAdQudlXm8wN\\n/xrcuzsUMjY9kriuQ5y7mBe1mmBdC7ax6ih9Fqomw1fZegXYZt+uv2Tlvec+OITI\\npM+lkCsH7VkkBjI2bWOkINtF5QKBgQDDn7PjSiANtSpOgn9meV2MlHC6v4Tjvvrz\\n5Idqleq+3034iYs1ZF/rHzBr5Ab4lKE8BAmlglYfhzhMbzvtndqV/kM5qKyrId76\\nf9Snfybyd+sz26zVFf/2/snAYi46IZk5eh6C6tZNPQfdihKg9JU3IQaUkjAFOlnO\\n1eF5baHMNwKBgQCgvYq8Ea1kigbvwD5/5R7XnihNHKtj5SVTQqb21rS7eGvCs6ni\\n4Df8F7X4w0MwhvgmJA3vgXeVHq+d0C/OTHJStagSFBrGGRd7nmuVz+Qt3ILKNSuN\\n9GDVIL6Y16ZzDfyi2GsdEOMNKVl+XbF+HaSQdAZ6LQyjkeu7D7sOngvmQQKBgQCI\\n39I+4xuAW9UpL5eyfJKfDTG/CMgTjgoK4kh5pEGmoZntn1de2UdfvOflZZwXC++w\\njWaufn6B+tvCZ0X4IS3TKx+gVUvTRZS9kvmY5Je8qXlRRJAuXAFHscg6KrgLhnyu\\nQardkTC2xFAfiz8zjU5mT15KT+r3jXdPCEmF69Z8iwKBgBf0k1Cuofdr/IJqbOfE\\n/IRXqNxgSH3zy45NeXzwckEI5B5a11wRhdP/QkD/HGc7D1yhnP7Kzm/BbOKVvgor\\nHtxRLHwEy+uUZ9/MXgb7+05II9L2KdEJBCm3T07p8/PFO+NUeAjzeUzPwP7BtV8z\\nvv48bOAfRplsS2Gh4PUqcRGQ\\n-----END PRIVATE KEY-----\\n\",\"client_email\":\"dialogflow-tnofri@ai-in-rtc-drachtio-tljjpn.iam.gserviceaccount.com\",\"client_id\":\"109291894930722520431\",\"auth_uri\":\"https://accounts.google.com/o/oauth2/auth\",\"token_uri\":\"https://oauth2.googleapis.com/token\",\"auth_provider_x509_cert_url\":\"https://www.googleapis.com/oauth2/v1/certs\",\"client_x509_cert_url\":\"https://www.googleapis.com/robot/v1/metadata/x509/dialogflow-tnofri%40ai-in-rtc-drachtio-tljjpn.iam.gserviceaccount.com\"}",
	"serviceAccountCredentialsType": "json",
	"project": "ai-in-rtc-drachtio-tljjpn",
	"projectType": "str",
	"welcomeEvent": "Welcome",
	"welcomeEventType": "str",
	"welcomeEventParams": "",
	"welcomeEventParamsType": "json",
	"passDtmf": false,
	"inputTimeout": "",
	"inputTimeoutType": "num",
	"noInputEvent": "",
	"noInputEventType": "str",
	"eventHook": "/voice-bot-events",
	"eventHookType": "str",
	"actionHook": "/voice-bot-action",
	"actionHookType": "str",
	"evtAll": true,
	"evtIntent": false,
	"evtTranscript": false,
	"evtInterimTranscript": false,
	"evtDtmf": false,
	"evtEndUtterance": false,
	"evtStartPlay": false,
	"evtEndPlay": false,
	"evtNoInput": false,
	"x": 460,
	"y": 40,
	"wires": [
		["7264e1f3.1b4e38"]
	]
}, {
	"id": "7cf7da64.7f135c",
	"type": "webhook in",
	"z": "b7186bc3.26d27",
	"name": "",
	"url": "/voice-bot-action",
	"method": "post",
	"x": 120,
	"y": 260,
	"wires": [
		["7264e1f3.1b4e38", "955c4523.c69958"]
	]
}, {
	"id": "90812b09.87aab",
	"type": "webhook in",
	"z": "b7186bc3.26d27",
	"name": "",
	"url": "/voicebot",
	"method": "post",
	"x": 130,
	"y": 40,
	"wires": [
		["6813c91b.2a327", "b5adc15c.630968"]
	]
}, {
	"id": "104613cb.4e115c",
	"type": "webhook in",
	"z": "b7186bc3.26d27",
	"name": "",
	"url": "/voice-bot-events",
	"method": "post",
	"x": 120,
	"y": 440,
	"wires": [
		["fc545555.5be568", "de2f1f56.e6fdf8"]
	]
}, {
	"id": "fc545555.5be568",
	"type": "function",
	"z": "b7186bc3.26d27",
	"name": "look for call transfer",
	"func": "if (msg.call.event === 'intent') {\n    const qo = msg.call.data.query_result;\n    const transfer = qo.fulfillment_messages.find((fm) => fm.platform === 'TELEPHONY' && fm.telephony_transfer_call);\n    if (transfer) {\n        msg.transferTo = transfer.telephony_transfer_call.phone_number;\n    }\n}\nreturn msg;\n",
	"outputs": 1,
	"noerr": 0,
	"x": 380,
	"y": 440,
	"wires": [
		["e76ef718.e2d5a8"]
	]
}, {
	"id": "e76ef718.e2d5a8",
	"type": "switch",
	"z": "b7186bc3.26d27",
	"name": "",
	"property": "transferTo",
	"propertyType": "msg",
	"rules": [{
		"t": "istype",
		"v": "string",
		"vt": "string"
	}, {
		"t": "else"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 2,
	"x": 570,
	"y": 440,
	"wires": [
		["90016a6d.b27d08"],
		["7264e1f3.1b4e38"]
	]
}, {
	"id": "90016a6d.b27d08",
	"type": "say",
	"z": "b7186bc3.26d27",
	"name": "",
	"text": "Please hold while we transfer your call",
	"early": false,
	"loop": 1,
	"vendor": "default",
	"lang": "default",
	"voice": "default",
	"x": 750,
	"y": 440,
	"wires": [
		["1fd18396.1c6e7c"]
	]
}, {
	"id": "1fd18396.1c6e7c",
	"type": "dial",
	"z": "b7186bc3.26d27",
	"name": "",
	"targets": [{
		"type": "phone",
		"varType": "msg",
		"dest": "transferTo"
	}],
	"headers": [],
	"actionhook": "",
	"actionhookType": "str",
	"answeronbridge": false,
	"callerid": "3397076136",
	"calleridType": "str",
	"confirmhook": "",
	"confirmhookType": "str",
	"dialmusic": "",
	"dialmusicType": "str",
	"dtmfcapture": "",
	"dtmfcaptureType": "str",
	"dtmfhook": "",
	"dtmfhookType": "str",
	"timelimit": "",
	"timeout": "",
	"listenurl": "",
	"listenurlType": "str",
	"transcribeurl": "",
	"transcribeurlType": "str",
	"interim": false,
	"transcribelang": "en-US",
	"x": 890,
	"y": 440,
	"wires": [
		["7264e1f3.1b4e38"]
	]
}, {
	"id": "b5adc15c.630968",
	"type": "function",
	"z": "b7186bc3.26d27",
	"name": "add call",
	"func": "const calls = flow.get('calls') || [];\ncalls.push({\n    uuid: msg.call.callSid,\n    start: Date.now(),\n    callingNumber: msg.call.from,\n    calledNumber: msg.call.to,\n    status: 'in-progress'\n})\nflow.set('calls', calls);\nmsg.payload = JSON.stringify({\n    type: 'calls',\n    data: calls\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 140,
	"y": 120,
	"wires": [
		["7723daf8.12e184"]
	]
}, {
	"id": "7723daf8.12e184",
	"type": "websocket out",
	"z": "b7186bc3.26d27",
	"name": "",
	"server": "6c113d60.c887b4",
	"client": "",
	"x": 410,
	"y": 120,
	"wires": []
}, {
	"id": "955c4523.c69958",
	"type": "function",
	"z": "b7186bc3.26d27",
	"name": "remove call",
	"func": "const calls = flow.get('calls')\n    .filter((c) => c.uuid !== msg.call.callSid);\nflow.set('calls', calls);\nmsg.payload = JSON.stringify({\n    type: 'calls',\n    data: calls\n});\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 170,
	"y": 340,
	"wires": [
		["7723daf8.12e184"]
	]
}, {
	"id": "fc075e89.3024b8",
	"type": "inject",
	"z": "b7186bc3.26d27",
	"name": "",
	"topic": "",
	"payload": "",
	"payloadType": "date",
	"repeat": "",
	"crontab": "",
	"once": true,
	"onceDelay": 0.1,
	"x": 90,
	"y": 1120,
	"wires": [
		["b5a40335.687de"]
	]
}, {
	"id": "b5a40335.687de",
	"type": "function",
	"z": "b7186bc3.26d27",
	"name": "initialize calls",
	"func": "flow.set('calls', []);\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 290,
	"y": 1120,
	"wires": [
		[]
	]
}, {
	"id": "de2f1f56.e6fdf8",
	"type": "switch",
	"z": "b7186bc3.26d27",
	"name": "",
	"property": "call.event",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "intent",
		"vt": "str"
	}, {
		"t": "eq",
		"v": "transcription",
		"vt": "str"
	}],
	"checkall": "true",
	"repair": false,
	"outputs": 2,
	"x": 330,
	"y": 660,
	"wires": [
		["6ca74661.8b2738"],
		["ba11e6ba.c29d8"]
	]
}, {
	"id": "6ca74661.8b2738",
	"type": "function",
	"z": "b7186bc3.26d27",
	"name": "parse intent",
	"func": "const intent = msg.call.data.query_result ?\n    msg.call.data.query_result.query_text :\n    'empty intent';\nmsg.payload = JSON.stringify({\n    type: 'intent',\n    date: Date.now(),\n    uuid: Date.now(),\n    callUUID: msg.call.callSid,\n    data: intent\n})\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 510,
	"y": 640,
	"wires": [
		["7723daf8.12e184", "c4667a47.4b597"]
	]
}, {
	"id": "ba11e6ba.c29d8",
	"type": "function",
	"z": "b7186bc3.26d27",
	"name": "parse transcript",
	"func": "msg.payload = JSON.stringify({\n    type: 'transcript',\n    date: Date.now(),\n    uuid: Date.now(),\n    callUUID: msg.call.callSid,\n    data: {\n        text: msg.call.data.recognition_result.transcript,\n        confidence: msg.call.data.recognition_result.confidence\n    }\n})\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 520,
	"y": 720,
	"wires": [
		["7723daf8.12e184"]
	]
}, {
	"id": "c4667a47.4b597",
	"type": "function",
	"z": "b7186bc3.26d27",
	"name": "parse prompt",
	"func": "const prompt = msg.call.data.query_result ?\n    msg.call.data.query_result.fulfillment_text :\n    'no prompt';\nmsg.payload = JSON.stringify({\n    type: 'prompt',\n    date: Date.now(),\n    uuid: Date.now(),\n    callUUID: msg.call.callSid,\n    data: prompt\n})\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 740,
	"y": 640,
	"wires": [
		["7723daf8.12e184"]
	]
}, {
	"id": "6c113d60.c887b4",
	"type": "websocket-listener",
	"z": "",
	"path": "/voicebot-event-streamer",
	"wholemsg": "false"
}]